.item-with-space {
  padding-left: 2em;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 2.5em;
  text-align: center;
}

.special-font {
  font-family: 'Concert One', cursive;
  color: white;
}

.new-search-font {
  font-family: 'Concert One', cursive;
  font-size: 2em;
}

.bg-img {
  background-image: url("https://www.lifewire.com/thmb/rod_R7ijXb_LPsOduQLiRPVnu8c=/1920x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/wave-free-ocean-wallpapers-desktopnexus-58d93da75f9b584683958ad2.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

.welcome-text {
  position: relative;
  color: white;
  font-size: 5em;
  font-family: 'Concert One', cursive;
  z-index: 1;
}

.welcome-text:after {
  content:'';
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.7;
  background-color: #2A9EEB;
  border-radius: 25px;
}

.new-search-text {
  position: relative;
  color: white;
  font-size: 3em;
  font-family: 'Concert One', cursive;
  z-index: 1;
}

.new-search-text:after {
  content:'';
  position: absolute;
  top:0px;
  left: 0px;
  width:100%;
  height:100%;
  z-index:-1;
  opacity: 0.7;
  background-color: #2A9EEB;
  border-radius: 25px;
}
